
# Archivos de IntelliJ IDEA
.idea/
.idea/*
.idea/**/*
*.iml
workspace.xml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación o temporales
*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# Caché y dependencias (si en algún momento usas npm o yarn)
node_modules/
dist/
