@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif !important;
}

body {
    height: 100vh;
    background: #0066FF;
}

header {
    background: url("assets/dessert-background.png") no-repeat center center/cover;
    height: 250px;
}

main {
    height: 100%;
    position: relative;
    overflow: hidden;
}

main::before {
    background-image: url('assets/brawl-stars-skull.png');
    background-size: 15%;
    background-repeat: repeat;
    animation: scrollBackground 40s linear infinite;

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: 1;
    pointer-events: none;
}

.spotlight {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% -100%;
    }
}